html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 100%;
  line-height: 1.4;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

label,
input,
select,
p,
code {
  margin-bottom: 10px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
}

hr {
  margin: 20px 0;
  border-color: #ddd;
}

section {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Calculation-Formula Popup */
.calculation {
  position: relative;
  display: inline-block;
  /* padding: 10px 15px; */
  /* background-color: #f9f9f9; */
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  transition: background-color 0.3s;
}
.calculation:hover {
  /* background-color: #e6e6e6; */
}

.calculation .formula {
  visibility: hidden;
  /* width: 120px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -60px; /* Use half of the width to center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.calculation:hover .formula {
  visibility: visible;
  opacity: 1;
}
